<h1>Pokemon TM Store</h1>
<h2>Product Information</h2>

<p>Name: <%= @tm.name %></p>
<p>Description: <%= @tm.description %></p>
<p>Price: <%= @tm.price %></p>
<p>Quantity: <%= @tm.quantity %></p>
